body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display input {
    background-color: #242431;
    color: #fff;
    font-size: 2rem;
    padding: 50px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #333146;
    border: none;
    font-size: 1.5rem;
    padding: 30px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #403e57;
}

.operator {
    background-color: #dca001;
    color: #403e57;
}

.operator:hover {
    background-color: #a88010;
    color: #fff;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60%;
}

footer p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}