body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    background-color: #242431;
    color: #fff;
    font-size: 2rem;
    padding: 50px;
    text-align: right;
      box-sizing: border-box;
    border: none;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #333146;
    border: none;
    font-size: 1.5rem;
    padding: 30px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #403e57;
}

.operator {
    background-color: #dca001;
    color: #403e57;
}

.operator:hover {
    background-color: #a88010;
    color: #fff;
}
p {
    background-color: #333146;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    text-align: right;
}
